@model IEnumerable<QueensFinal.Model.Competition>

@{
    ViewBag.Title = "Home Page";
}

@foreach (var competition in Model)
{
    <div>
        <h4>@Html.ActionLink(competition.Name, "Details", "Competition", new { name = competition.Name }, null)</h4>
    </div>
}